<style>
    body {
        color: purple;
    }
</style>

<h1>This is the home page!</h1>

<img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F20%2F2016%2F08%2Fnorman-10-1333.jpg" alt="photo of an adorable pomsky">
