img {
    width: 30%;
    float: left;
    margin: 1.66%;
}

body {
    background-color: rgb(44, 44, 44);
}

p {
    font-family: Raleway;
    margin-left: 1.66%;
    font-size: 23px;
    font-weight: 800;
    text-transform: uppercase;
    border-bottom: 2px solid #d6d6d8;
    width: 30%;
    padding-bottom: 20px;
}
