<h1>Campsites</h1>

<hr>

<ul>
    <% campgrounds.forEach((site) => { %>
        <div>
            <h4>> <%= site.name %></h4>
            <img src="<%= site.image %>" alt="Campground image">
        </div>
    <% }) %>
</ul>